{% extends 'base.html.twig' %}

{% block title %}Hello StatistiqueController!{% endblock %}

{% block content %}
    <div class="border-style">
        <h1>Statistique</h1>

        <div class="statistique-div">
            <div class="statistique-child">
                <h3>Mes nominations</h3>
                <div class="circle">
                    <p class="number-font">{{ statistiques | length }}</p>
                </div>
            </div>
            <div class="statistique-child">
                <h3>Nombre de pas</h3>
                <div class="second-statistique">
                    <div>
                        <h4>Par Sessions</h4>

                        {% set sum = 0 %}

                        {% for statistique in statistiques %}
                        <div class="nbpas-div">
                            <p class="number-font">{{ statistique.dateTirage|date("d F o") }}</p>
                            <span class="number-font circle-3">{{ statistique.nombrePas }}</span>
                        </div>
                            {% set sum = sum + statistique.nombrePas %}
                        {% endfor %}
                    </div>
                    <div>
                        <h4>Total</h4>
                        <p class="number-font circle-2">{{ sum }}</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}
